[submodule "MinhVHN/--recursive"]
	path = MinhVHN/--recursive
	url = git@github.com:adafruit/Adafruit_TCS34725.git
[submodule "MinhVHN/Adafruit_BusIO"]
	path = MinhVHN/Adafruit_BusIO
	url = git@github.com:adafruit/Adafruit_BusIO.git
[submodule "MinhVHN/ArduinoCore-avr"]
	path = MinhVHN/ArduinoCore-avr
	url = git@github.com:arduino/ArduinoCore-avr.git
[submodule "MinhVHN/Arduino"]
	path = MinhVHN/Arduino
	url = git@github.com:esp8266/Arduino.git
